div:where(.swal2-container).swal2-center > .swal2-popup {
    border-radius: 15px;
}

div:where(.swal2-container) h2:where(.swal2-title) {
    font-size: 1.2rem !important;
}

div:where(.swal2-icon){
    margin:1.6em auto 0.6em !important;
}